<p-panel header="Pipes no tan comunes" class="pt-5 mt-4">
  <p>Included pipes in Angular Common</p>
</p-panel>

<div class="grid grid-cols-4 gap-4 mt-10">

  <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
    <p>
      Saludos {{namePerson}}, es un places {{gender | i18nSelect:invitationMap}} a nuestro evento.
    </p>
    <p-button (click)="changeClient()" label="cambiar persona">
    </p-button>
  </p-fieldset>


  <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
    <p>
      Actualmente  {{clients.length | i18nPlural:clientsMap }}
    </p>
    <p-button label="Borrar Cliente" (click)="deleteClient()">
    </p-button>
  </p-fieldset>


  <p-fieldset legend="Slice Pipe" [toggleable]="true">
    <b>Original</b>
    <pre>
      {{clients}}
    </pre>

    <b>Slice:0:2</b>
    <pre>
      {{clients | slice:0:2}}
    </pre>

    <b>Slice:1:2</b>
    <pre>
      {{clients | slice:1:2}}
    </pre>

    <b>Slice:0:-2</b>
    <pre>
      {{clients | slice:0:-2}}
    </pre>
  </p-fieldset>


  <p-fieldset legend="Json Pipe" [toggleable]="true">
    {{person | json}}
  </p-fieldset>


  <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
    <ul>
      <li *ngFor="let item of person | keyvalue">
        <b> {{item.key | titlecase}} : </b> {{item.value}}
      </li>
    </ul>
  </p-fieldset>


  <p-fieldset legend="Async Pipe" [toggleable]="true">
    <pre>
      <--no cancela promesas -->
      {{myObservableTimer | async}}
    </pre> 

  </p-fieldset>


</div>
