<p-panel header="Pipes no tan comunes" class="pt-5 mt-4">
  <p>Included pipes in Angular Common</p>
</p-panel>

<div class="grid grid-cols-4 gap-4 mt-10">

  <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
    <p>
      Saludos {{namePerson}}, es un places {{gender | i18nSelect:invitationMap}} a nuestro evento.
    </p>
    <p-button (click)="changeClient()" label="cambiar persona">

    </p-button>

  </p-fieldset>


  <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">

  </p-fieldset>

  <p-fieldset legend="Slice Pipe" [toggleable]="true">

  </p-fieldset>

  <p-fieldset legend="Json Pipe" [toggleable]="true">

  </p-fieldset>

  <p-fieldset legend="KeyValue Pipe" [toggleable]="true">

  </p-fieldset>

  <p-fieldset legend="Async Pipe" [toggleable]="true">

  </p-fieldset>


</div>
