<p-panel header="Personalized Pipes" class="pt-5 mt-4">
  <p>Included personalized pipes  by {{ 'us' | toggleCase:isUpperCase }}</p>
</p-panel>


<p-toolbar>
  <ng-template #start>
    <p-button  label="ToggleCase" icon="pi pi-sort" class="mr-2" text severity="secondary"  (onClick)="toggleUpperCase()"/>

    <p-button label="By name" icon="pi pi-sort" class="mr-2" text severity="secondary" (onClick)="changeOrderBy('name')" />

    <p-button  label="By fly" icon="pi pi-sort" text severity="secondary"  (onClick)="changeOrderBy('canFly')" />

    <p-button  label="By Color" icon="pi pi-sort" text severity="secondary" (onClick)="changeOrderBy('color')"/>

  </ng-template>

</p-toolbar>

<p-panel header="Heroes">
  <div class="grid">
    <div class="col mt-2">
      <p-table [value]="heroes | sortBy : orderBy " [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
          <tr>
            <th>Name</th>
            <th>Fly</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template #body let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-panel>

