<p-panel header="Basics Pipes" class="pt-5 mt-4">
  <p> Included pipes in Angular Common</p>
</p-panel>

<div class="grid grid-cols-3 gap-4 mt-10">
  <div class=" p-4 rounded shadow">
    <div class="text-lg font-bold">uppercase</div>
    {{ nameUpper | uppercase }}
  </div>
  <div class=" p-4 rounded shadow">
    <div class="text-lg font-bold">lowercase</div>
    {{ nameLower | lowercase }}
  </div>
  <div class=" p-4 rounded shadow">
    <div class="text-lg font-bold">titlecase</div>
    {{ fullName | titlecase }}
  </div>
</div>
